---
# Main SCSS File
---
@import "tachyons";

// fonts

@font-face {
  font-family: Montserrat;
	src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Merriweather;
	src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
	src: url('/fonts/OpenSans.ttf'); 
}

// variables

$max-width:1200px;
$primary-font:'Montserrat', Helvetica, Helvetica Neue, Arial, sans-serif;
$sans: 'OpenSans', Arial, sans-serif;
$serif: 'Merriweather', serif;
$primary-bg: #fff;
$primary-color: #333;
$red: #D90001;
$blue: #0275d8;

// typography

   h1,h2 {
     margin:1em 0;
     font-family:$primary-font;
     font-weight:100;
   }

   h3,h4,h5,h6 {
     margin:0.5em 0;
     font-family:$primary-font;
     font-weight:100;
   }

   h1 {
     font-size:2.5rem;
   }

   h2 {
     font-size:2.25rem;
   }

   h3 {
     font-size:1.75rem;
   }

   h4 {
     font-size:1.25rem;
   }

   h5 {
     font-size:1rem;
   }

   h6 {
     font-size:0.75rem;
   }

   p,li,label,input,select {
     color:$primary-color;
   }

   p.light {
     color:#666;
   }

// main

body {
    font-family: $primary-font;
    color: $primary-color;
    background-color:$primary-bg;
}

.logo {
  max-width:$max-width;
  img {
  }
}

.top-nav {
  background-color:#333;
  border-bottom:solid #ccc 1px;
  div {
    max-width:$max-width;
    nav {
      p,a {
        display:inline;
        color:#fff;
        border-right:solid #ccc 1px;
        font-size:14px;
        font-family:$sans;
        &:last-child {
          border:none;
        }
      }
      a {
        font-weight:900;
        &:hover {
          text-decoration:underline;
        }
      }
    }
  }

}

nav.main   {
  background-color:$red;
  div {
    max-width:$max-width;
    text-align:center;
    a {
      color:$primary-bg;
      font-size:1em;
      font-family:$sans;
      font-weight:bold;
      text-shadow:1px 1px 1px #666;
      text-decoration:none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  max-width:$max-width;
}

p {
  line-height:1.5;
  text-align: left;
}

a {
  text-decoration: none;
  color:$blue;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  border:solid #ddd 1px;
  border-bottom:none;
  border-left:none;
  border-right:none;
}

.icon {
  img {
    width:20px;
    height:20px;
    position: relative;
    /* Adjust icon position to align with text */
    top: 3px;
  }
  span {
    font-size:20px;
    line-height:1;
  }
}

.formation {
  .image {
    height:200px;
    overflow:hidden;
  }
}

.products {
  &:last-child {
    padding:0;
  }
  .product {
    height:400px;
  }
  a {
    text-decoration: none;
    color:#333;
    font-weight:bold;
  }
  .image {
    height:300px;
    overflow:hidden;
  }
  img {
    &:hover + p {
      color:$blue;
    }
  }
  p:hover {color:$blue;}
  .price {
    color:$red;
    &:hover {color:$red;
    }
  }
}

form {
  label,legend {
    color:$primary-color;
  }
  fieldset {
    color:#fff;
    border-color:#fff;
  }
  input,select {
    color:#666;
    border-color:#ccc;
  }
  input.submit {
    background-color:$red;
    border:none;
    color:#eee;
  }
}

button.snipcart-add-item {
  background-color:$red;
  border:none;
  padding:20px;
  border-radius:4px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

footer {
  background-color:$primary-color;
  padding:20px 0;
  margin:60px 0 0 0;
  div {
    max-width:$max-width;
    padding:0 20px;
    a {
      text-decoration:none;
      color:#fff;
    }
  }
}

// flexslider

.flexslider {
  border: 0px; }

.flex-direction-nav a {
  width: 50px;
  height: 50px; }

.flex-direction-nav .flex-prev {
  left: 0; }

.flex-direction-nav .flex-next {
  right: 0;
  text-align: right; }
