---
# Main SCSS File
---
@import "flexslider";
@import "tachyons";

// fonts

@font-face {
  font-family: Montserrat;
	src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Merriweather;
	src: url('/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
	src: url('/fonts/OpenSans-Regular.ttf');
}

// variables

$primary-font:'Montserrat', Helvetica, Helvetica Neue, Arial, sans-serif;
$sans: 'OpenSans', Arial, sans-serif;
$serif: 'Merriweather', serif;
$primary-bg: #fff;
$primary-color: #333;
$red: #b70707;
$blue: #0275d8;

body {
    font-family: $primary-font;
    color: $primary-color;
    background-color:$primary-bg;
}

.container {
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

.bg-red {
  background:rgba(180,20,20,0.6);
}

.bg-black {
  background:rgba(0,0,0,0.6);
}

// typography

   h1,h2 {
     margin:1em 0;
     font-family:$primary-font;
     font-weight:100;
   }

   h3,h4,h5,h6 {
     margin:0.5em 0;
     font-family:$primary-font;
     font-weight:100;
   }

   h1 {
     font-size:2.5rem;
   }

   h2 {
     font-size:2.25rem;
   }

   h3 {
     font-size:1.75rem;
   }

   h4 {
     font-size:1.25rem;
   }

   h5 {
     font-size:1rem;
   }

   h6 {
     font-size:0.75rem;
   }

   p,li,label,input,select {
     color:$primary-color;
   }

   p.light {
     color:#666;
   }

// main



.slogan {
  h2 {
    font-family: $sans;
    line-height:1.5;
    text-shadow: #000 1px 1px;
  }
  .box {
    img {
      width:32px;
    }
  }
}

nav.main {
  a {
    font-size:14px;
    font-family:$primary-font;
    color:#222;
  }
}

nav.mobile   {
  top:0px;
  z-index:1;
  a {
    color:#fff;
    text-shadow:1px 1px #000;
  }
}

.top-nav {
  background-color:#333;
}

.logo {
  height:60px;
}

// home page special nav
.hero-image {
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

main {

}

p {
  line-height:1.5;
  text-align: left;
}

a {
  text-decoration: none;
  color:$blue;
  &:hover {
    text-decoration: underline;
  }
}

hr {
  border:solid #ddd 1px;
  border-bottom:none;
  border-left:none;
  border-right:none;
}

.banner {
  width:100%;
  height:300px;
  overflow: hidden;
  img {
      margin-top:-100px;
  }
}

.icon {
  img {
    width:18px;
    /* Adjust icon position to align with text */
    top: 3px;
  }
}

.formations {
    img.banner {
      height:200px;
      overflow:hidden;
    }
}

.products {
  &:last-child {
    padding:0;
  }
  .product {
    height:300px;
  }
  a {
    text-decoration: none;
    color:#333;
    font-weight:bold;
  }
  .image {
    overflow:hidden;
    height:60%;
  }
  img {
    &:hover + p {
      color:$blue;
    }
  }
  p:hover {color:$blue;}
  .price {
    color:$red;
    &:hover {color:$red;
    }
  }
}

  .articles {
    a {
      color:$primary-color;
    }
  }

form {
  label,legend {
    color:$primary-color;
  }
  fieldset {
    color:#fff;
    border-color:#fff;
  }
  input,select {
    color:#666;
    border-color:#ccc;
  }
  input.submit {
    background-color:$red;
    border:none;
    color:#eee;
  }
}

button.snipcart-add-item {
  background-color:$red;
  border:none;
  padding:20px;
  border-radius:4px;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

footer {
  background-color:$primary-color;
  padding:20px 0;
  margin:60px 0 0 0;

  a {
    text-decoration:none;
  }
  a,h1,h2,h3,span {
    color:#eee;
  }

  p {
    font-size:14px;
    color:#ccc;
  }

  img.icon {
    width:30px;
    position:relative;
    top:10px;
  }

  .contact {
    height:40px;
  }

  .social-media {
    a:hover {
      text-decoration:none;
    }
  }

}

// flexslider

.flexslider {
  border: 0px; }

.flex-direction-nav a {
  width: 50px;
  height: 50px; }

.flex-direction-nav .flex-prev {
  left: 0; }

.flex-direction-nav .flex-next {
  right: 0;
  text-align: right; }
