<header>

  <nav class="top-nav ph3 pv2 tc tl-l">
    {% for link in site.data.navigation.top_nav.links %}
      <a class="dib pa2 white f6" href="{{link.url}}">{{link.title}}</a>
    {% endfor %}
  </nav>

  <div class="flex items-center">
    <div class="mr5 dn db-l w-20">
      <a href="/"><img class="ml3 logo v-mid" src="/img/lambert-rcr-logo.png" alt="LAMBERT RCR"/></a>
    </div>
    <nav class="main w-80 ml-auto mr-auto pt4 dn db-l">
      <a class="dib mr4 mb4 ttu b" href="/formations">Formations</a>
      <a class="dib mr4 mb4 ttu b" href="/materiel-de-premiers-soins">Matériel de premiers soins</a>
      <a class="dib mr4 mb4 ttu b" href="/articles">Articles</a>
      {% for link in site.data.navigation.main_nav.links %}
        <a class="dib mr4 mb4 ttu b" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>

  <div class="hero-image" style="background-image:url({{site.data.settings.site_image}})">

  {% if page.layout == 'home' %}
    <div class="slogan dn db-l bg-black pv5">
      <div class="container pv3 tl w-70 ml-auto mr-auto">
        <h2 class="white mv3 b">{{page.slogan}}</h2>
          <div class="box ba bw1 b--white pl4 pr5 pv2 mv3 dib">
            <a href="{{page.slogan_link}}">
              <h3 class="white dib">{{page.slogan_link_text}}</h3>
              <img class="absolute pt3 ml3" src="img/icons/arrow-right.png"/>
            </a>
          </div>
      </div>
    </div>
  {% else %}
  <div class="w-100 bg-black">
    <div class="container pv4">
      <h1 class="white mt5 mb0">{{page.title}}</h1>
    </div>
  </div>
  {% endif %}

  <nav class="mobile w-100 dn-l tc pv3 bg-black">
    <a href="/"><img class="w5" src="/img/lambert-rcr-logo.png" alt="LAMBERT RCR"/></a>
    <a class="w-100 db pv3 ttu b" href="/formations">Formations</a>
    <a class="w-100 db pv3 ttu b" href="/materiel-de-premiers-soins">Matériel de premiers soins</a>
    <a class="w-100 db pv3 ttu b" href="/articles">Articles</a>
    {% for link in site.data.navigation.main_nav.links %}
      <a class="w-100 db pv3 ttu b" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </nav>

  </div>

</header>
