---
layout: default
---
<div class="container">
  
  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100">
    <h1> {{ page.title }}</h1>
  </div>

  <div class="articles w-100 mt4">

    {% for post in site.posts %}
    <div class="w-100 mt4">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {{ post.excerpt }}
        <p>{{ post.date | date: "%m/%d/%Y" }}</p>
    </div>
    {% endfor %}

  </div>

</div> <!-- end container -->
