<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True" />
    <meta name="description" content="{{page.description}}">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>{{page.title}} | {{site.data.settings.site_title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:300|Open+Sans" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script
    			  src="https://code.jquery.com/jquery-2.2.4.min.js"
    			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    			  crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/flexslider.min.css"/>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZTIyYzAzMzgtZTZkOC00MmFiLWE5N2MtMzg4Zjk2ZmJkYWEyNjM2NDYyMjU0NTQ3NDM3NjEy"></script>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/main.js"></script>
  </head>
  <body>

<header>

  <div class="top-nav">
    <div class="flex flex-wrap ml-auto mr-auto pv1 pv2-l">
      <nav class="w-100 w-50-l tc tl-l pv2">
        {% for link in site.data.navigation.top_nav.links %}
        <a class="ph3" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
      </nav>
      <nav class="w-100 w-50-l dn db-l tc tr-l pv2">
        <p class="ph3">{{site.data.settings.site_tel}}</p>
        <p class="ph3">{{site.data.settings.site_email}}</p>
      </nav>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="logo w-100-l pv3 pv3-l ph3-l">
      <a href="/"><img src="/img/lambert-rcr-logo.jpg" alt="{{site.title}}"/></a>
    </div>
  </div>

  <nav class="main">
    <div class="ml-auto mr-auto">
      <div class="flex flex-wrap justify-center justify-start-l pv2 pv1-l ml4-l">
        {% for link in site.data.navigation.main_nav.links %}
          <div class="w-80 pt3 pb3 w-auto-l pv3-l mr5-l"><a href="{{ link.url }}">{{ link.title }}</a></div>
        {% endfor %}
      </div>
    </div>
  </nav>


</header>

{{ content }}

<footer>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
