---
layout: default
---

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <a class="mh2" href="/formations/">Formations</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100">
    <h1> {{ page.title }}</h1>
    <div class="icon mv4">
      <img src="/img/clock-icon.png" alt="Durée:" class="mr3"/>
      <span>{{ page.duration }}</span>
    </div>
    <div class="icon mv4">
      <img src="/img/dollar-icon.png" alt="Prix:" class="mr3"/>
      <span>{{ page.price }} $</span>
    </div>

    <div class="banner">
      <img src="{{page.image}}" alt="{{page.title}}"/>
    </div>

    {{ content }}

  </div>
