---
layout: default
---
<main class="mv2 ml-auto mr-auto ph4 flex flex-wrap justify-center justify-start-l">

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>



  <div class="w-100">
    <h1> {{ page.title }}</h1>
    {{ content }}
  </div>

  {% assign sorted = site.formations | sort:"order" %}

  {% for formation in sorted %}

  <div class="formation w-100 w-80-m w-50-l mv2 pr5-l">
    <img src="{{formation.image}}" alt="{{formation.title}}" class="mv3 w-100"/>
    <h3>{{formation.title}}</h3>
    <p>{{formation.description}}</p>
    <a href="{{formation.permalink}}">Consulter les détails du cours ></a>
    <div class="icon mv4">
      <img src="/img/clock-icon.png" alt="Durée:" class="mr3"/>
      <span>{{formation.duration}}</span>
    </div>
    <div class="icon mv4">
      <img src="/img/dollar-icon.png" alt="Prix:" class="mr3"/>
      <span>{{formation.price}} $</span>
    </div>
  </div>

   {% endfor %}

</main>
