---
layout: default
---
<div class="container">

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100 pv3">
    {{ content }}
  </div>

  {% assign sorted = site.formations | sort:"order" %}

  <div class="formations flex flex-wrap pv3">

    {% for formation in sorted %}

    <div class="w-100 w-50-ns w-30-l ba bw1 b--light-gray pa1 ma1-l">
      <a class="red" href="{{formation.permalink}}">
        <img class="banner" src="{{formation.image}}" alt="{{formation.title}}"/>
        <h3 class="f4 ph3 pt3 ma0">{{formation.title}}</h3>
      </a>
      <div class="icon ph3 ml1 pt3">
        <img class="relative mr2" src="/img/icons/clock-icon.png" alt="Durée"/>
        <span class="w5">{{formation.duration}}</span>
      </div>
      <div class="icon ph3 ml1 pt2">
        <img class="relative mr2" src="/img/icons/dollar-icon.png" alt="Prix"/>
        <span class="w5">{{formation.price}} $</span>
      </div>
      <p class="ph3 f6 pt3 ma0">{{formation.description}}</p>
      <a class="dib f6 ph3 pt3 pb4" href="{{formation.permalink}}">Détails du cours &rarr;</a>
    </div>

    {% endfor %}

  </div> <!-- end formation -->

</div> <!-- end container -->
