<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="HandheldFriendly" content="True" />
    <meta name="description" content="{{page.description}}">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>{{page.title}} | {{site.data.settings.site_title}}</title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>

<header>

  <div class="top-nav">
    <div class="flex flex-wrap ml-auto mr-auto pv1 ph2 ph3-l max">
      <nav class="w-30 w-50-l tl pv2">
        {% for link in site.data.navigation.top_nav.links %}
        <a class="ph2 f6" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
      </nav>
      <nav class="w-70 w-50-l tr pv2">
        <p class="ph2 f6">{{site.data.settings.site_tel}}</p>
        <p class="ph2 f6">{{site.data.settings.site_email}}</p>
      </nav>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="logo max w-100-l pv2 ph3-l">
      <a href="/"><img src="/img/lambert-rcr-logo.jpg" alt="{{site.title}}"/></a>
    </div>
  </div>

  <div class="hero-image" style="background-image:url({{site.data.settings.site_image}})">

    <nav class="main w-100">
      <div class="ml-auto mr-auto max">
        <div class="flex flex-wrap w-100 justify-center justify-start-l pv2 pv1-l ml4-l">
          {% for link in site.data.navigation.main_nav.links %}
            <div class="w-80 pt3 pb3 w-auto-l pv3-l mr5-l"><a href="{{ link.url }}">{{ link.title }}</a></div>
          {% endfor %}
        </div>
      </div>
    </nav>

  </div>

</header>

<main class="mv4 ml-auto mr-auto body-max ph4 flex flex-wrap justify-center justify-start-l">

{{ page.home_intro | markdownify }}

<h2>Matériel de premiers soins</h2>

{{ page.home_materiel | markdownify }}

<a href="/materiel-de-premiers-soins" alt="Lien vers matériel de premiers soins">{{page.link_materiel}}</a>

{% assign sorted = site.materiel | sort:"featured" %}

<div class="products w-100 mv2 mv4-l tc">

{% for materiel in sorted %}
{% if materiel.featured == true  %}
  <a class="pointer" href="{{materiel.permalink}}">
    <div class="product w-50 w-33-l fl mv2">
      <div class="image w-100 ph4">
        <img class="w-100 mv2 grow" src="{{materiel.image}}" alt="{{materiel.title}}"/>
      </div>
      <p class="tc w-100 mv2">{{materiel.title}}</p>
      <p class="price tc w-100 mv2">{{materiel.price}} $</p>
    </div>
  </a>
{% endif %}
{% endfor %}
</div>

<h2>Formations</h2>

{{ page.home_formations | markdownify }}

<a href="/formations" alt="Lien vers les formations">{{page.link_formations}}</a>

</main>

<footer>
  <div class="flex flex-wrap max ml-auto mr-auto pv1 pv2-l">
    <a href="#" class="f6">Lambert RCR 2017</a>
  </div>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>

<script src="/js/snipcart.js" id="snipcart" data-api-key="ZTIyYzAzMzgtZTZkOC00MmFiLWE5N2MtMzg4Zjk2ZmJkYWEyNjM2NDYyMjU0NTQ3NDM3NjEy"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
