---
layout: default
---
  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100">
    <h1> {{ page.title }}</h1>
    {{ content }}
  </div>

  <h3>Formulaire d'inscription pour les groupes</h3>

  <form name="inscription-groupe" data-netlify="true" class="w-100">

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="nom-compagnie">Nom de la compagnie ou CPE</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" name="nom-compagnie" id="nom-compagnie" required>
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="contact-name">Nom du contact</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="text" name="contact-name" id="contact-name" required>
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="tel">Numéro de téléphone (Format: xxx-xxx-xxxx)</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="tel" name="tel" id="tel" pattern="^\d{3}-\d{3}-\d{4}$" required >
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="email">Courriel</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-100 br2" type="email" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="nombre-participants" class="w-40">Nombre de participants</label>
        <input class="pa2 mv2 input-reset ba bg-transparent w-40 ml4 br2" type="number" name="nombre-participants" id="nombre-participants" required>
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        <label for="date">Choisir un mois</label>
        <span>
          <select class="pa2 mv2 input-reset ba bg-transparent w-60 br2 ml3" id="month" name="month">
            <option selected>Janvier</option>
            <option>Février</option>
            <option>Mars</option>
            <option>Avril</option>
            <option>Mai</option>
            <option>Juin</option>
            <option>Juillet</option>
            <option>Août</option>
            <option>Septembre</option>
            <option>Octobre</option>
            <option>Novembre</option>
            <option>Décembre</option>
          </select>
        </span>
      </div>

      <div class="mv3 w-100 w-80-m w-40-l">
        {% assign sorted = site.formations | sort:"order" %}
        <label for="formation">Formation</label>
        <select class="pa2 mv2 input-reset ba bg-transparent w-100 br2" name="formation" id="formation">
          <option value="">Choisir une formation</option>
          {% for formation in sorted %}
         <option value="{{formation.title}}">{{formation.title}}</option>
         {% endfor %}
        </select>
      </div>

      <input class="b ph3 pv3 mt2 input-reset grow pointer br3 submit w-40" type="submit" value="Soumettre">

  </form>
