---
layout: default
---
<main class="mv2 ml-auto mr-auto ph4 flex flex-wrap justify-center justify-start-l">
  <div class="w-100">

    <h1> {{ page.title }}</h1>

    {{ content }}

  </div>
  <div class="product w-100 mv2 mv4-l tc">

    <a class="pointer" href="#">
      <div class="w-50 w-33-l fl">
        <img class="w-90 mv2 grow" src="/img/Trousse_Ceinturon.jpg" alt="Trousse ceinturons pour sorties"/>
        <p class="tc w-100 mv2">Trousse ceinturons pour sorties</p>
        <p class="price tc w-100 mv2">40.00 $</p>
      </div>
    </a>

    <a class="pointer" href="#">
      <div class="w-50 w-33-l fl">
        <img class="w-90 mv2 grow" src="/img/Trousse_Ceinturon.jpg" alt="Trousse ceinturons pour sorties"/>
        <p class="tc w-100 mv2">Trousse ceinturons pour sorties</p>
        <p class="price tc w-100 mv2">40.00 $</p>
      </div>
    </a>

    <a class="pointer" href="#">
      <div class="w-50 w-33-l fl">
        <img class="w-90 mv2 grow" src="/img/Trousse_Ceinturon.jpg" alt="Trousse ceinturons pour sorties"/>
        <p class="tc w-100 mv2">Trousse ceinturons pour sorties</p>
        <p class="price tc w-100 mv2">40.00 $</p>
      </div>
    </a>

  </div>
</main>
