---
layout: default
---
<main class="mv2 ml-auto mr-auto ph4 flex flex-wrap justify-center justify-start-l">

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <a class="mh2" href="/materiel-de-premiers-soins/">Matériel de premiers soins</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

    <div class="w-100 w-40-l mt3">
      <img src="{{page.image}}" alt="{{page.title}}" class="w-100 mv2 mv3-l ba b--light-gray"/>
    </div>

    <div class="w-100 w-60-l ph4-l mt3">
      <h1 class="mv2 f2">{{ page.title }}</h1>
      <p class="f3 mh2">{{page.price}} $</p>
      <hr/>
      {{page.content}}
      <button
    class="snipcart-add-item mv2 w-100"
    data-item-id="{{page.title}}"
    data-item-name="{{page.title}}"
    data-item-price="{{page.price}}"
    data-item-url="{{page.permalink}}"
    data-item-image="{{page.image}}"
    data-item-description="{{page.description}}">
        Ajouter au panier
      </button>
    </div>

</main>
