---
layout: default
---
<div class="container pa3">

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100">
    <h1> {{ page.title }}</h1>
    {{ content }}
  </div>

  {% assign sorted = site.materiel | sort:"order" %}

  <div class="products w-100 mv2 mv4-l tc">

  {% for materiel in sorted %}
  <a class="pointer" href="{{materiel.permalink}}">
    <div class="product w-100 w-50-m w-33-l fl">
      <div class="image w-100 ph4">
        <img class="w-100 mv2 grow" src="{{materiel.image}}" alt="{{materiel.title}}"/>
      </div>
      <p class="tc w-100 mv2">{{materiel.title}}</p>
      <p class="price tc w-100 mv2">{{materiel.price}} $</p>
    </div>
  </a>
  {% endfor %}
  </div>
  </div>

</div> <!-- end container -->
