---
layout: default
---
<div class="container pa3">

  <div class="crumbs w-100 mt3 pb3 bb b--light-gray">
    <a class="mr2" href="/">Accueil</a>
    <span> > </span>
    <span class="ml2">{{page.title}}</span>
  </div>

  <div class="w-100 pv3">
    {{ content }}
  </div>

  {% assign sorted = site.materiel | sort:"title" %}

  <div class="products flex flex-wrap pv3">

    {% for materiel in sorted %}

    <div class="relative w-100 w-50-ns w-25-l ba bw1 b--light-gray pa1 mv1">
      <span class="absolute pv2 ph3 bg-black b white">{{materiel.price}} $</span>
      <a href="{{materiel.permalink}}">
        <img class="banner" src="{{materiel.image}}" alt="{{materiel.title}}"/>
        <h3 class="f5 ph3 pt3 ma0">{{materiel.title}}</h3>
      </a>
      <p class="ph3 f6">{{materiel.description}}
    </div>

    {% endfor %}

  </div> <!-- end products -->

</div> <!-- end container -->
